
.App{
  /*ย้ายทุกอย่างไปอยู่ตรงกลาง*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: rgb(173, 185, 215);
  min-height: 100vh;
}

.menu , .quiz , .score{
  width: 500px;
  height: 500px;
  background: rgb(91, 140, 204);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.menu button , .quiz button , .score button{
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  background: whitesmoke;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background: rgb(204, 138, 8);
  color: white;
}

.quiz h1{
  color:white;
  margin-bottom: 20px;
}

.score h1{
  color: white;
  margin-bottom: 5px;
}

.score h2{
  color: rgb(144, 10, 10);
  margin-bottom: 30px;
}
